# CHAPTER-03
## Built-in Data Structures, Functions, and Files

### Data Structures and Sequences

### Tuple

In [1]:
# A tuple is a fixed-length, immutable sequence of Python objects

In [2]:
tup = 2, 4, 6, 7

In [3]:
tup

(2, 4, 6, 7)

### Nested Tuple

In [4]:
nested_tup = (1, 4, 5), (2, 3, 5, 6)

In [5]:
nested_tup

((1, 4, 5), (2, 3, 5, 6))

In [6]:
tuple([3,4,5,6])

(3, 4, 5, 6)

In [7]:
tuple('Hello World')

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

In [8]:
# Elements of tuple can be accessed by square brackets "[]"

In [9]:
tup_1 = tuple('Python')
tup_1[0]

'P'

In [10]:
tup_1[4]

'o'

In [11]:
tup_3 = tuple([(1,2,4), 'foo', [1,3,4], False])

In [12]:
tup_3

((1, 2, 4), 'foo', [1, 3, 4], False)

In [13]:
tup_3[2]

[1, 3, 4]

In [14]:
### Tuples are immutable we can't modify 
tup_3[3] = False

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup_3[2].append(2)

In [ ]:
tup_3

In [ ]:
### Concatenate Tuples
(4, None, 'foo') + (6, 0) + ('bar',)

In [ ]:
### multiplying tuples
('foo', 'bar') * 4

### Unpacking tuples

In [ ]:
# we can unpack tuples by assigning variables
tup_4 = (1,2,3,4)

In [ ]:
a,b,c,d = tup_4
print(a)
print(b)
print(c)
print(d)

In [ ]:
### unpack nested tuples
tup_5 = 1,3,5,(4,5,6)

In [ ]:
a,b,c,(d,f,g) = tup_5

In [ ]:
print(a)
print(b)
print(c)
print(d)
print(f)
print(g)

In [ ]:
### swap variable names
tmp = a
a = b
b = tmp

In [ ]:
tmp

In [ ]:
a

In [ ]:
b

In [ ]:
a,b = 2,5

In [15]:
a

NameError: name 'a' is not defined

In [16]:
b

NameError: name 'b' is not defined

In [17]:
a,b = b,a

NameError: name 'b' is not defined

In [18]:
a

NameError: name 'a' is not defined

In [19]:
b

NameError: name 'b' is not defined

In [20]:
# variable unpacking is iterating over sequences of tuples or lists
tup_seq = [(11,12,13),(14,15,16),(17,18,19)]
for x,y,z in tup_seq:
    print('a-{0}, b-{1}, c-{2}'.format(x,y,z))

a-11, b-12, c-13
a-14, b-15, c-16
a-17, b-18, c-19

In [21]:
# unpack few elements  
tup_values = 11, 12, 13, 14, 15
x, y, *rest = tup_values

In [22]:
x

11

In [23]:
y

12

In [24]:
rest

[13, 14, 15]

In [25]:
x, y, *_ = tup_values

In [26]:
x

11

In [27]:
y

12

In [28]:
_

[13, 14, 15]

### Tuple methods

In [29]:
y = (11,22,11,22,33,33,33,44,44,55,55,66,66,66,66,77,88)
y.count(22)

2

In [30]:
y.count(33)

3

In [31]:
y.count(44)

2

In [32]:
y.count(66)

4

### List

In [33]:
x_list = [None, 1, 2, 5, 3, None]

In [34]:
z_tup = ('apple', 'book', 'cat')

In [35]:
x_list

[None, 1, 2, 5, 3, None]

In [36]:
x_list[1] = 'bat'

In [37]:
x_list

[None, 'bat', 2, 5, 3, None]

In [38]:
z_tup

('apple', 'book', 'cat')

In [39]:
z_list = list(z_tup)

In [40]:
z_list

['apple', 'book', 'cat']

In [41]:
z_list[0]='mango'

In [42]:
z_list

['mango', 'book', 'cat']

In [43]:
gen = range(10)

In [44]:
gen

range(0, 10)

In [45]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Adding and removing elements

In [46]:
# Elements can be appended to the end of the list with the append method
z_list.append('banana')

In [47]:
z_list

['mango', 'book', 'cat', 'banana']

In [48]:
# Using insert can insert an element at a specific location in the list
z_list.insert(2, 'pine apple')

In [49]:
z_list

['mango', 'book', 'pine apple', 'cat', 'banana']

In [50]:
# The inverse operation to insert is pop, which removes and returns an element at a particular index
z_list.pop(1)

'book'

In [51]:
z_list

['mango', 'pine apple', 'cat', 'banana']

In [52]:
# Elements can be removed by value with remove, which locates the first such value and removes it from the last
z_list.append('dog')
z_list

['mango', 'pine apple', 'cat', 'banana', 'dog']

In [53]:
z_list.remove('dog')
z_list

['mango', 'pine apple', 'cat', 'banana']

In [54]:
# Check if a list contains a value using the in keyword
'dog' not in z_list

True

In [55]:
'dog' in z_list

False

In [56]:
'cat' not in z_list

False

In [57]:
'cat' in z_list

True

### Concatenating and combining lists

In [58]:
# adding two lists together with + concatenates
[1, 2, 'dog', None] + [(2,3), 8, 7]

[1, 2, 'dog', None, (2, 3), 8, 7]

In [59]:
# append multiple elements to it using the extend method
x = [3, 2, 4, 'foo', None]
x.extend([2,3,4,5])

In [60]:
x

[3, 2, 4, 'foo', None, 2, 3, 4, 5]

In [61]:
lists = [[1,2,3,4,4], [4,5,6,7],[3,4,5,6]]
extend_list = []
for list_ in lists:
    extend_list.extend(list_)
    
extend_list

[1, 2, 3, 4, 4, 4, 5, 6, 7, 3, 4, 5, 6]

In [62]:
lists = [[1,2,3,4,4], [4,5,6,7],[3,4,5,6]]
extend_list = []
for list_ in lists:
    extend_list = extend_list + list_
    
extend_list

[1, 2, 3, 4, 4, 4, 5, 6, 7, 3, 4, 5, 6]

### Sorting

In [63]:
# sort a list by calling its sort function

extend_list.sort()

In [64]:
extend_list

[1, 2, 3, 3, 4, 4, 4, 4, 5, 5, 6, 6, 7]

In [65]:
z_list

['mango', 'pine apple', 'cat', 'banana']

In [66]:
# sort by length
z_list.sort(key=len)
z_list

['cat', 'mango', 'banana', 'pine apple']

### Binary search and maintaining a sorted list

In [67]:
# bisect.bisect finds the location where an element should be inserted to keep it sorted
import bisect

In [68]:
extend_list

[1, 2, 3, 3, 4, 4, 4, 4, 5, 5, 6, 6, 7]

In [69]:
bisect.bisect(extend_list, 2)

2

In [70]:
a = [1,2,4,5,6,7,9]
a

[1, 2, 4, 5, 6, 7, 9]

In [71]:
bisect.bisect(a,8)

6

### Slicing

In [72]:
a_list = [1,2,3,4,5,6,7,8,9]
a_list[2:5] # select values by start:stop-1 index

[3, 4, 5]

In [73]:
# Slices can also be assigned to with a sequence
a_list[4:6] = [8,9]

In [74]:
a_list

[1, 2, 3, 4, 8, 9, 7, 8, 9]

In [75]:
a_list[:5]

[1, 2, 3, 4, 8]

In [76]:
a_list[5:]

[9, 7, 8, 9]

In [77]:
# Negative indices slice the sequence relative to the end
a_list[:-4]

[1, 2, 3, 4, 8]

In [78]:
a_list[-7:-3]

[3, 4, 8, 9]

In [79]:
# A step can also be used after a second colon to, say, take every other element
a_list[::2]

[1, 3, 8, 7, 9]

In [80]:
# A clever use of this is to pass -1, which has the useful effect of reversing a list or tuple
a_list[::-1]

[9, 8, 7, 9, 8, 4, 3, 2, 1]

### Built-in Sequence Functions

### Enumerate

In [81]:
# Python has a built-in function, enumerate, which returns a sequence of (i, value) tuples
for i, value in enumerate(a_list):
    print('index-{0} = value-{1}'.format(i, value))

index-0 = value-1
index-1 = value-2
index-2 = value-3
index-3 = value-4
index-4 = value-8
index-5 = value-9
index-6 = value-7
index-7 = value-8
index-8 = value-9

In [82]:
map_dict = {}
for i, v in enumerate(a_list):
    map_dict[i]=v
map_dict

{0: 1, 1: 2, 2: 3, 3: 4, 4: 8, 5: 9, 6: 7, 7: 8, 8: 9}

### sorted

In [83]:
# The sorted function returns a new sorted list from the elements of any sequence:
sorted([9, 4, 3, 2, 1, 0, 7, 2, 6, 5])

[0, 1, 2, 2, 3, 4, 5, 6, 7, 9]

In [84]:
sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

### zip

In [85]:
# zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a list of tuples
list_1 = ['dog', 'cat', 'loin']

In [86]:
list_2 = ['four', 'five', 'six']

In [87]:
zipped_list = zip(list_1, list_2)

In [88]:
list(zipped_list)

[('dog', 'four'), ('cat', 'five'), ('loin', 'six')]

In [89]:
list_3 = [4, 5, 6]
list(zip(list_1, list_2, list_3))

[('dog', 'four', 4), ('cat', 'five', 5), ('loin', 'six', 6)]

In [90]:
for i, (a, b, c) in enumerate(zip(list_1, list_2, list_3)):
    print(f'{i}: {a} - {b} - {c}')

0: dog - four - 4
1: cat - five - 5
2: loin - six - 6

In [91]:
players = [('Aneel', 'Kumar'), ('Kapil', 'Dev'), ('Sachin', 'Tandolkar')]
first_names, last_names = zip(*players)

In [92]:
first_names

('Aneel', 'Kapil', 'Sachin')

In [93]:
last_names

('Kumar', 'Dev', 'Tandolkar')

### reversed

In [94]:
# reversed iterates over the elements of a sequence in reverse order:
list(reversed(range(15)))

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dictionary

In [95]:
empty_dict = {}
dict_1 = {'x' : 'num_list', 'y' : [4, 5, 6, 7]}

In [96]:
dict_1

{'x': 'num_list', 'y': [4, 5, 6, 7]}

In [97]:
# access, insert, or set elements using the same syntax as for accessing elements of a list or tuple:
dict_1['z'] = 'integer list'
dict_1

{'x': 'num_list', 'y': [4, 5, 6, 7], 'z': 'integer list'}

In [98]:
dict_1['y']

[4, 5, 6, 7]

In [99]:
#check if a dict contains a key using the same syntax used for checking whether a list or tuple contains a value
'y' in dict_1

True

In [100]:
# can delete values either using the del keyword or the pop method (which simultaneously returns the value and deletes the key)
dict_1['a'] = 'values list'
dict_1

{'x': 'num_list', 'y': [4, 5, 6, 7], 'z': 'integer list', 'a': 'values list'}

In [101]:
dict_1['b'] = (1,2,3,4)
dict_1

{'x': 'num_list',
 'y': [4, 5, 6, 7],
 'z': 'integer list',
 'a': 'values list',
 'b': (1, 2, 3, 4)}

In [102]:
del dict_1['a']
dict_1

{'x': 'num_list', 'y': [4, 5, 6, 7], 'z': 'integer list', 'b': (1, 2, 3, 4)}

In [103]:
temp = dict_1.pop('b')
temp

(1, 2, 3, 4)

In [104]:
dict_1

{'x': 'num_list', 'y': [4, 5, 6, 7], 'z': 'integer list'}

In [105]:
list(dict_1.values())

['num_list', [4, 5, 6, 7], 'integer list']

In [106]:
# can merge one dict into another using the update method:
dict_1.update({'a' : 'bar', 'b' : 20})
dict_1

{'x': 'num_list', 'y': [4, 5, 6, 7], 'z': 'integer list', 'a': 'bar', 'b': 20}

### Creating dicts from sequences

In [107]:
key_list = ['a','b','c','d']
value_list = ['dog', 'cat', 'lion', 'deer']

dict_maping = {}

for i, v in zip(key_list, value_list):
    dict_maping[i] = v
    
dict_maping

{'a': 'dog', 'b': 'cat', 'c': 'lion', 'd': 'deer'}

In [108]:
dict_maping1 = dict(zip(key_list, value_list))

In [109]:
dict_maping1

{'a': 'dog', 'b': 'cat', 'c': 'lion', 'd': 'deer'}

In [110]:
dict_maping2 = dict(zip(range(10), reversed(range(10))))

In [111]:
dict_maping2

{0: 9, 1: 8, 2: 7, 3: 6, 4: 5, 5: 4, 6: 3, 7: 2, 8: 1, 9: 0}

### Default values

In [112]:
# categorizing a list of words by their first letters as a dict of lists
words = ['apple', 'bat', 'bar', 'atom', 'book']

by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [113]:
# The setdefault dict method is for precisely this purpose. The preceding for loop can be rewritten as
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [114]:
by_letter

{'a': ['apple', 'atom', 'apple', 'atom'],
 'b': ['bat', 'bar', 'book', 'bat', 'bar', 'book']}

In [115]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

### Valid dict key types

In [116]:
# The technical term here is hashability. To check whether an object is hashable (can be used as a key in a dict) with the hash function
hash('string')

4257420496554130216

In [117]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [118]:
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [119]:
dict_ = {}
dict_[tuple([1, 2, 3])] = 5
dict_

{(1, 2, 3): 5}

### Set

In [120]:
# A set can be created in two ways: via the set function or via a set literal with curly braces
set([1, 2, 3, 1, 2, 3])

{1, 2, 3}

In [121]:
{1, 1, 1, 2, 2, 2, 3, 3, 3}

{1, 2, 3}

In [122]:
# Sets support mathematical set operations like union, intersection, difference, and symmetric difference
a = {1, 2, 3, 4, 5}
b = {2, 4, 6, 8, 10}

# Union of set
a.union(b)

{1, 2, 3, 4, 5, 6, 8, 10}

In [123]:
# Union of set
a | b

{1, 2, 3, 4, 5, 6, 8, 10}

In [124]:
# Intersection of set
a.intersection(b)

{2, 4}

In [125]:
a & b

{2, 4}

In [126]:
# Difference of set
a.difference(b)

{1, 3, 5}

In [127]:
### Python set operations
#### Function Alternative           ---              syntax    --   Description

# 1 -    a.add(x)                           N/A       Add element x to the set a
# 2 -    a.clear()                          N/A       Reset the set a to an empty state, discarding all of its elements
# 3 -    a.remove(x)                        N/A       Remove element x from the set a
# 4 -    a.pop()                            N/A       Remove an arbitrary element from the set a, raising KeyError if the set is empty
# 5 -    a.union(b)                        a | b      All of the unique elements in a and b
# 6 -    a.update(b)                       a |= b     Set the contents of a to be the union of the elements in a and b
# 7 -    a.intersection(b)                 a & b      All of the elements in both a and b
# 8 -    a.intersection_update(b)          a &= b     Set the contents of a to be the intersection of the elements in a and b
# 9 -    a.difference(b)                   a - b      The elements in a that are not in b
# 10 -   a.difference_update(b)            a -= b     Set a to the elements in a that are not in b
# 11 -   a.symmetric_difference(b)         a ^ b      All of the elements in either a or b but not both
# 12 -   a.symmetric_difference_update(b)  a ^= b     Set a to contain the elements in either a or b but not both
# 13 -   a.issubset(b)                      N/A       True if the elements of a are all contained in b
# 14 -   a.issuperset(b)                    N/A       True if the elements of b are all contained in a
# 15 -   a.isdisjoint(b)                    N/A       True if a and b have no elements in common

In [128]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 8, 10}

In [129]:
d = a.copy()
d &= b
d

{2, 4}

In [130]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [131]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [132]:
a_set.issuperset({1, 2, 3})

True

In [133]:
{1, 2, 3} == {3, 2, 1}

True

### List, Set, and Dict Comprehensions

In [137]:
# [expr for val in collection if condition]

names = ['amar', 'aneel', 'Vivek', 'rajesh', 'santosh']
# select names has length grater then 5 and capatilize the words
[name.upper() for name in names if len(name) > 5]

['RAJESH', 'SANTOSH']

In [139]:
[name.upper() for name in names if len(name) <= 5]

['AMAR', 'ANEEL', 'VIVEK']

In [140]:
[name.title() for name in names if len(name) <= 5]

['Amar', 'Aneel', 'Vivek']

In [141]:
### Set and dict comprehensions are a natural extension, producing sets and dicts in an 
# idiomatically similar way instead of lists.

#dict_comp = {key-expr : value-expr for value in collection if condition}

### A set comprehension looks like the equivalent list comprehension except with curly braces instead of square brackets:
# set_comp = {expr for value in collection if condition}

In [142]:
## unique lengths of names list 
unique_len = {len(name) for name in names}

In [143]:
unique_len

{4, 5, 6, 7}

In [144]:
### using map function
set(map(len, names))

{4, 5, 6, 7}

In [148]:
names_mapping = {index : name for index, name in enumerate(names)}
names_mapping

{0: 'amar', 1: 'aneel', 2: 'Vivek', 3: 'rajesh', 4: 'santosh'}

### Nested list comprehensions

In [154]:
# Suppose we have a list of lists containing some English and Spanish names:
all_names = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [156]:
# get a single list containing all names with two or more e’s in them. We could certainly do this with a simple for loop
fav_names = []
for names in all_names:
    names_es = [name for name in names if name.count('e') >= 2]
    fav_names.extend(names_es)
fav_names

['Steven']

In [157]:
names = [name for names in all_names for name in names if name.count('e') >= 2]
names

['Steven']

In [159]:
# “flatten” a list of tuples of integers into a simple list of integers:
tuples_list = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flat_tuples = [x for tup in tuples_list for x in tup]
flat_tuples

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [160]:
flattened = []
for tup in tuples_list:
    for x in tup:
        flattened.append(x)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [161]:
[[x for x in tup] for tup in tuples_list]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Functions

In [162]:
# Functions are declared with the def keyword and returned from with the return keyword
def calculator(x, y, operator):
    if operator == '+':
        return x + y
    elif operator == '-':
        return x - y
    elif operator == '/':
        return x / y
    elif operator == '*':
        return x * y
    else:
        return 'wrong operator'
calculator(3,2, '-')

1

In [163]:
calculator(3,2, '/')

1.5

In [164]:
calculator(3,2, '+')

5

In [165]:
calculator(3,2, '*')

6

In [166]:
calculator(3,2, '=')

'wrong operator'

### Namespaces, Scope, and Local Functions

In [1]:
def fun():
    a = []
    for i in range(5):
        a.append(i)
fun()
print(a)

NameError: name 'a' is not defined

In [2]:
# Assigning variables outside of the function’s scope is possible, but those variables must be declared as global via the global keyword:
a = None

def fun():
    global a
    a = []
    for i in range(5):
        a.append(i)
fun()
print(a)

[0, 1, 2, 3, 4]

### Returning Multiple Values

In [5]:
def values():
    a = 1
    b = 2
    c = 3
    return a, b, c
a, b, c = values()

In [6]:
print(a, b, c)

1 2 3

### Functions Are Objects

In [10]:
# use built-in string methods along with the re standard library module for regular expressions
states_names = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

import re

def clean_list_values(values):
    values_list = []
    for val in values:
        value = val.strip()
        value = re.sub('[!#?]','', value)
        value = value.title()
        values_list.append(value)
    return values_list
clean_list_values(states_names)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [16]:
# An alternative approach that may find useful is to make a list of the operations want to apply to a particular set of strings

def remove_punctuation(val):
    return re.sub('[!#?]','', val)
clean_ops = [str.strip, remove_punctuation, str.title]

def clean_values(valu, ops):
    values = []
    for value in valu:
        for function in ops:
            value = function(value)
        values.append(value)
    return values
clean_values(states_names, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [17]:
# built-in map function, which applies a function to a sequence of some kind
for x in map(remove_punctuation, states_names):
    print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

### Anonymous (Lambda) Functions

In [18]:
def double_value(x):
    return x * 2
x = 2
double_value(x)

4

In [23]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]
ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [25]:
# sort a collection of strings by the number of distinct letters in each string
strings_values = ['foo', 'card', 'bar', 'aaaa', 'abab']
# Here we could pass a lambda function to the list’s sort method:
strings_values.sort(key=lambda x: len(set(list(x))))
strings_values

['aaaa', 'foo', 'abab', 'bar', 'card']

### Currying: Partial Argument Application

In [26]:
def add_numbers(x,y):
    return x + y
add_numbers(2,4)

6

In [27]:
add_five = lambda y: add_numbers(5, y)

In [47]:
add_five

functools.partial(<function add_numbers at 0x00000197E8D8B8B0>, 5)

In [29]:
from functools import partial
add_five = partial(add_numbers, 5)

In [30]:
add_five

functools.partial(<function add_numbers at 0x00000197E8D8B8B0>, 5)

### Generators

In [32]:
# iterating over a dict yields the dict keys:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [33]:
dict_iterator = iter(some_dict)

In [37]:
list(dict_iterator)

['a', 'b', 'c']

In [38]:
# To create a generator, use the yield keyword instead of return in a function:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [40]:
gen = squares(10)

In [41]:
gen

In [42]:
list(gen)

Generating squares from 1 to 100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [45]:
gen = squares(10)
for x in gen:
    print(x, end =' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

### Generator expresssions

In [48]:
#This is a generator analogue to list, dict, and set comprehensions; to create one, enclose what would otherwise be a list comprehension within parentheses instead of brackets:
gen = (x ** 2 for x in range(100))
gen

In [49]:
# This is completely equivalent to the following more verbose generator:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [50]:
gen

In [51]:
# Generator expressions can be used instead of list comprehensions as function argu‐ ments in many cases:
sum(x ** 2 for x in range(100))

328350

In [52]:
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### itertools module

In [53]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [54]:
# Function                        Description
# combinations(iterable, k)       Generates a sequence of all possible k-tuples of elements in the iterable, ignoring order and without replacement (see also the companion function combinations_with_replacement)
# permutations(iterable, k)       Generates a sequence of all possible k-tuples of elements in the iterable, respecting order
# groupby(iterable[, keyfunc])    Generates (key, sub-iterator) for each unique key
# product(*iterables, repeat=1)   Generates the Cartesian product of the input iterables as tuples, similar to a nested for loop

### Errors and Exception Handling

In [55]:
float('1.2345')

1.2345

In [56]:
float('something')

ValueError: could not convert string to float: 'something'

In [58]:
# We can do this by writing a function that encloses the call to float in a try/except block:
def attempt_float(string):
    try:
        return float(string)
    except:
        return string
attempt_float('something')

'something'

In [59]:
attempt_float('1.2345')

1.2345

In [60]:
attempt_float('something')

'something'

In [61]:
# float can raise exceptions other than ValueError:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [62]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [63]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [64]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x
attempt_float((1, 2))

(1, 2)

In [65]:
"""f = open(path, 'w')
try:
    write_to_file(f)
finally:
    f.close()"""

"f = open(path, 'w')\ntry:\n    write_to_file(f)\nfinally:\n    f.close()"

In [66]:
# file handle f will always get closed. Similarly, you can have code that executes only if the try: block succeeds using else:
"""
f = open(path, 'w')
try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()
"""

"\nf = open(path, 'w')\ntry:\n    write_to_file(f)\nexcept:\n    print('Failed')\nelse:\n    print('Succeeded')\nfinally:\n    f.close()\n"

### Exceptions in IPython

In [ ]:
#%run examples/ipython_bug.py

### Files and the Operating System

In [ ]:
# To open a file for reading or writing, use the built-in open function with either a relative or absolute file path:
# path = 'examples/segismundo.txt'
# f = open(path)

In [67]:
# The lines come out of the file with the end-of-line (EOL) markers intact, so you’ll often see code to get an EOL-free list of lines in a file like:
# lines = [x.rstrip() for x in open(path)]
# lines

# Closing the file releases its resources back to the operating system:
# f.close()

In [ ]:
# One of the ways to make it easier to clean up open files is to use the with statement:
#with open(path) as f:
#    lines = [x.rstrip() for x in f]

In [ ]:
# a “character” is determined by the file’s encoding (e.g., UTF-8) or simply raw bytes if the file is opened in binary mode:
#f = open(path)
#f.read(10)

#f2 = open(path, 'rb') # Binary mode
#f2.read(10)

# The read method advances the file handle’s position by the number of bytes read. tell gives you the current position:
#f.tell()

#f2.tell()

In [ ]:
# You can check the default encoding in the sys module:
# import sys
# sys.getdefaultencoding()

# seek changes the file position to the indicated byte in the file:
# f.seek(3)

# f.read(1)

# close the files:
# f.close()
# f2.close()

In [ ]:
# Mode Description
# r Read-only mode
# w Write-only mode; creates a new file (erasing the data for any file with the same name)
# x Write-only mode; creates a new file, but fails if the file path already exists
# a Append to existing file (create the file if it does not already exist)
# r+ Read and write
# b Add to mode for binary files (i.e., 'rb' or 'wb')
# t Text mode for files (automatically decoding bytes to Unicode). This is the default if not specified. Add t to other modes to use this (i.e., 'rt' or 'xt')
# To write text to a file, you can use the file’s write or writelines methods. For example, we could create a version of prof_mod.py with no blank lines like so:

#with open('tmp.txt', 'w') as handle:
#    handle.writelines(x for x in open(path) if len(x) > 1)
#    with open('tmp.txt') as f:
#        lines = f.readlines()
#lines

### Bytes and Unicode with Files

In [ ]:
# Let’s look at the file (which contains non-ASCII characters with UTF-8 encoding) from the previous section:
#with open(path) as f:
#    chars = f.read(10)
#chars

# If I open the file in 'rb' mode instead, read requests exact numbers of bytes:
# with open(path, 'rb') as f:
#        data = f.read(10)
# data

# Depending on the text encoding, you may be able to decode the bytes to a str object yourself, but only if each of the encoded Unicode characters is fully formed:
# data.decode('utf8')
# data[:4].decode('utf8')

In [ ]:
# Text mode, combined with the encoding option of open, provides a convenient way to convert from one Unicode encoding to another:

# sink_path = 'sink.txt'
# with open(path) as source:
#      with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
#      sink.write(source.read())
# with open(sink_path, encoding='iso-8859-1') as f:
#       print(f.read(10))

In [ ]:
# bytes defining a Unicode character, then subsequent reads will result in an error:
#f = open(path)
#f.read(5)

#f.seek(4)

#f.read(1)